.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message{
  background-color: #dcffa8;
  color: black;
  margin: 5px;
  padding: 0 10px;
  border-radius: 25px;
  font-size: x-small;
}

.chat{
  background-color: aliceblue;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}